.gradient-overlay-half-bg-gradient-v5::before{
    background: none !important;
}


.DateRangePicker{
    padding-top: 5px;;
}
.DateInput {
    width: 110px !important;
}

.DateRangePickerInput__withBorder{
    border: none !important;
}

.DateInput_input__focused{
    border: none !important;
}

.DayPickerNavigation_leftButton__horizontalDefault,
.DayPickerNavigation_rightButton__horizontalDefault  {
    padding-bottom: 13px !important;
}

.DateInput_input{
    font-size: 14px !important;
    font-family: inherit;
    font-weight: 500 !important;
}

.CalendarDay__selected_span{
    background: #569fd6 !important;
}

.CalendarDay__selected {
    background:#297cbb !important;
  }

.DateRangePickerInput_arrow.DateRangePickerInput_arrow_1{
    padding-bottom: 10px;
}

